# Entornos virtuales
.venv/
venv/
ENV/
env/

# Variables de entorno y configuraciones sensibles
.env
.env.local

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDEs y Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs y bases de datos locales
*.log
*.sqlite
